-if perm?(category, 5) || admin?
  -if category.documents.count != 0
    %li 
      =link_to category_path(category.id) do
        =category.name
  -else
    %li.disabled
      =link_to "#" do
        =category.name 

  -unless category.children.empty?
    %ul.nav.nav-list.tree
      =render :partial => "dashboard/category", :collection => category.children