%tr
  %td
    =link_to edit_field_path(field.id) do
      = field.name
    -unless field.about.nil? || field.about.empty? 
      %i.glyphicon.glyphicon-question-sign.tag-tooltip{:title => field.about}      
  %td= field.code
  %td
    =link_to field_path(field.id), :data => {:confirm => t('are_you_sure', :default => 'Are you sure?')}, :method => :delete do
      %i.glyphicon.glyphicon-trash