//ddd
%tr
=form_for :field, :url => fields_path  do |f|
  %td
    =f.text_field :name,  :class => "form-control",      :placeholder => t('activerecord.attributes.field.name',  :default => 'Name')
    =f.text_field :code,  :class => "form-control",      :placeholder => t('activerecord.attributes.field.code',  :default => 'Code')
  %td
    =f.text_area  :about, :class => "form-control area", :placeholder => t('activerecord.attributes.field.about', :default => 'About')
  %td
    =f.submit t('save', :default => "Save"), :class => "form-control btn btn-primary"