%tr
=form_for :template, :url => "/dashboard/template" do |f|
  %td
    =f.text_field :name,  :class => "form-control", :placeholder => t('name', :default => 'Name')
  %td
    =f.text_area  :about, :class => "form-control area", :placeholder => t('about', :default => 'About')
  %td
    =f.submit t('add', :default => "Add"), :class => "form-control btn btn-primary"            