.row
  .col-md-12
    -if @templates.count == 1
      %h2= t 'template'
    -else
      %h2= t 'templates'
    %table.table
      %tr.info
        %th= t 'name'
        %th
        %th= t 'fields'
        %th
        %th
      =render :partial => "template", :collection => @templates
      =render :partial => "form_template"
      
    




