= form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  =f.text_field :name, :class => 'form-control'

  .actions
    = f.submit t('save'), :class => 'form-control btn btn-primary'
