.main{
  padding-top: 65px;
}

.area{
  resize: none;  
}

.logo{
  font-size: 33px;
}

.upload{
  border: dashed 2px #ccc;
  padding: 0;
  margin: 0;
  
  p{
    font-size: 20px;
    color: #ccc;
    text-align: center;
  }
}

.nav{
   .nav {
    padding-left: 10px;
  }
}

.admin{
  background-color: #F2DEDE;
}

.menu-form {
  padding-left:  25px; 
  padding-right: 25px; 
  width:         272px;

  p{
    text-align: center;
    padding:    0px;
    margin:     0px;
  }
}

@media (max-width: 767px) {
  .menu-form {
    width:100%
  }
}